/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(213, 219, 217);
}

.row {
  display: flex;
}

#top-green {
  height: 10vh;
  background-color: rgb(0, 150, 136);
}

/* Regole contenitore app */

.container {
  height: 95vh;
  width: 80%;
  position: absolute; 
  top: 15px;
  left: 50%;
  transform: translate(-50%); 
}

/* Regole splash screen */

#splash-screen {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#splash-screen h1 {
  font-size: 100px;
  animation: hideAnimation 1s;
  animation-fill-mode: forwards;
}

#main-app {
  font-size: 15px;
  width: 100%;
  animation: showAnimation .5s;
  animation-fill-mode: forwards;
}

/* Regole lista contatti */

#users-list {
  height: 95vh;
  width: 30%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

#user-list-top {
  background-color: rgb(234, 234, 234);
  margin-bottom: 10px;
}

#setting {
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.user-image {
  width: 50px;
  vertical-align: middle;
  border-radius: 50%;
}

#user-list-top #user-info div{
  margin-top: 10px;
  margin-left: 10px;
}


#user-info > h4 {
  display: inline;
  margin-left: 5px;
}

#user-settings i {
  color: rgb(177, 177, 177);
  margin-right: 15px;
  cursor: pointer;
}

#notification-setting{
  background-color: rgb(142, 218, 252);
  padding: 10px;
}

#notification-setting i {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 30px;
}

#notification-description {
  margin-top: 10px;
  margin-left: 15px;
}

#notification-description a {
  color: black;
}

#search-bar {
  padding: 5px;
}

#search-bar input{
  padding: 5px;
  width: 90%;
  margin-left: 5px 
}

#search-bar button {
  width: 5%;
  color: black;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.contact {
  justify-content: space-between;
  cursor: pointer;
}

.contact:hover{
  background-color: rgba(221, 221, 211, 1);
}

.last-contact-message {
  overflow: hidden;
  font-size: 10px;
}

#chat-info {
  margin-top: 10px;
  margin-left: 10px;
}

.hour {
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}


/* Regole chat */

#user-chat {
  height: 95vh;
  width: 70%;
  background-color: rgb(243, 238, 234);
}

/* Regole deafault screen */

#default-page {
  background-color: rgb(229, 221, 213);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#chat {
  width: 95%;
  margin: 0 auto;
  height: 77vh;
  border-radius: 5px;
  border-top: 0px;
  background-color: rgb(229, 221, 213);
  overflow: auto;
}

/* Regole opzioni gestione chat */

#chat-option {
  position: absolute;
  z-index: 99;
  top: 50px;
  right: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#chat-option ul {
  list-style: none;
  cursor: pointer;
}
#chat-option li {
  border-bottom: 1px solid black;
  margin: 5px 0;
}

#chat-option li:hover {
  background-color: #ccc;
}

/* Regole messaggi */

.message {
  display: flex;
  flex-direction: column;
}

.message-text {
  overflow: hidden;
}

.contact-message, .user-message {
  margin: 10px 0;
  border-radius: 10px;
  padding: 5px;
  width: 30%;
  justify-content: space-between;
}

.user-message {
  margin-right: 15px;
  background-color: rgb(213, 249, 186);
  align-self: flex-end;
  position: relative;
}

.contact-message {
  margin-left: 15px;
  background-color: rgb(255, 255, 255);
}

/* Rgegole sezione risposta utente */

#answer-section {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  font-size: 25px;
}

#answer-section i {
  cursor: pointer;
}

#answer-section input{
  width: 70%;
  padding: 5px;
  margin: 0 20px;
}


.hide {
  display: none;
}

.show {
  display: inline-block;
}

.status .writing {
  display: none;
}


/* Animazione splashscreen */

@keyframes hideAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Regole responsive */

@media screen and (max-width: 1000px){

  .container {
    width: 100%;
  }

  #users-list {
    width: 35%;
  }
}

@media screen and (max-width: 800px){

  #users-list {
    width: 40%;
  }
}
