<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <title>Boolzap</title>
  </head>

  <body>

    <!-- VueJs -->
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    

      <div id="top-green"></div>

      <!-- Sezione principaale sito -->

      <main>

        <div id="app" class="container row">

          <!-- schermata di benvenuto -->

          <div id="splash-screen" v-if="showSplash">
            <h1>Benvenuto su boolzapp</h1>
          </div>

          <!-- schermata web app -->

          <div id="main-app" class="row" v-else>

            <!-- Lista chat contatti -->

            <div id="users-list">
            
              <header id="user-list-top">

              <!-- Ipostazioni applicazione -->

              <div id="setting" class="row">

                <!-- Informazioni utilizzatore  -->

                <div id="user-info">

                  <img class="user-image" :src="user.avatar" alt="Avatar utente">
                  <h4>{{user.name}}</h4>

                </div>

                <!-- Impostazioni gestione chat -->

                <div id="user-settings">

                  <i class="fa-solid fa-circle-notch"></i>
                  <i class="fa-solid fa-message"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>

                </div>

              </div>

              <!-- Impostazioni ricezione notifiche -->

              <div id="notification-setting" class="row">

                <i class="fa-regular fa-bell-slash"></i>

                <div id="notification-description">
                  <h5>Ricevi notifiche di nuovi messaggi</h5>
                  <a href="#">Attiva notifiche desktop</a>
                </div>

              </div>

              <div id="search-bar">

                <button type="submit"><i class="fa fa-search"></i></button>
                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search" @keyup.enter="newConversation">
                
              </div>

              </header>

              <!-- Lista chat -->
              <div id="list"> 

                <div class="contact row" v-for="(contact, idx) in filteredUsers" :key="contact"  @click="activechat(idx)">

                  <div v-if="contact.visible" class="row">
  
                    <!-- Immagine profilo contatto -->
  
                    <img class="user-image" :src=" contact.avatar" alt="">
  
                    <div id="chat-info">
  
                      <!-- Nome contatto -->
  
                      <h4 id="contact-name">{{contact.name}}</h4>
  
                      <!-- Ultimo messaggio inviato -->
  
                      <small class="last-contact-message">{{lastMessage(idx)}}</small>
  
                    </div>
  
                  </div>
  
                  <div v-if="contact.visible" class="hour">
  
                    {{lastMessageHours(idx)}}
  
                  </div>
  
                </div>

              </div>
              

              <!-- Selettore della dimensione del font  -->

              <div id="font-size">

                <button onclick="increaseFontSize()"><i class="fa fa-plus"></i></button>
                    <button onclick="decreaseFontSize()"><i class="fa fa-minus"></i></button>
  
                  </div>


            </div>

            <!-- Pagina di default -->

            <div id="default-page" v-if="defaultPage">
                <h1>Seleziona una chat per iniziare a conversare</h1>
            
            </div>

            <!-- Chat del contatto selezionato -->

            <div v-else id="user-chat">

              <!-- Pagina della chat -->

              <header id="user-list-top">

                <!-- Ipostazioni chat -->
    
                <div id="setting" class="row">
    
                  <!-- Informazioni contatto  -->
    
                  <div id="user-info" class="row">
    
                    <img class="user-image" :src="contacts[active].avatar" alt="Avatar utente">
    
                    <div>
    
                      <h4>{{contacts[active].name}}</h4>
                      <small :class="acces ? 'hide' : 'show'">{{lastAcces(active)}}</small>
                        <small class="writing" :class="write ? 'show' : 'hide'">sta scrivendo</small>
                        <small class="writing" :class="status ? 'show' : 'hide'">Online</small>
    
                      </div>
                      
    
                    </div>
    
    
                    <!-- Impostazioni gestione chat -->
    
                    <div id="user-settings">
    
                      <i class="fa-solid fa-magnifying-glass"></i>
                      <i class="fa-solid fa-paperclip"></i>
                      <i class="fa-solid fa-ellipsis-vertical" @click.stop="showSettins"></i>
    
                    </div>
    
                    <div id="chat-option" :class="viewOptions ? 'show' : 'hide'
                    ">
                      <ul>
                        <li @click.stop="deleteAllMessages">Elimina tutti i messaggi</li>
                        <li @click.stop="delelteChat">Elimina la chat</li>
                      </ul>
                    </div>
    
                  </div>
                  
                </header>
    
                <!-- Chat del contatto -->
    
                <div id="chat" ref="scroll">

                  <div id="go-to-contact" :class="!defaultPage && displayMode === 'mobile'? 'show' : 'hide' ">

                    <button onclick="turnToContact()"><i class="fa-solid fa-arrow-left"></i></button>
                     
                  </div>
    
                  <!-- Messaggi nella chat -->
    
                  <div class="message"  v-for="(message, idx) in contacts[active].messages">
    
                    
                    <div :class="message.status == 'received' ? 'contact-message' : 'user-message'" class="row" @click="deleteMessage(idx)">
    
                      <!-- Testo del messaggio -->
    
                      <div class="message-text"> 
                        {{message.message}}
                      </div>
    
                      <!-- Orario di invio del messaggio -->
    
                      <div>
                        <small>{{MessageHours(active, idx)}}</small>
                      </div>
                      
                    </div>
    
                  </div>
    
                  </div>
    
                  <footer id="answer-section">
    
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage">
                    <i :class="newMessage.length > 0 ? 'fa-solid fa-paper-plane' : 'fa-solid fa-microphone'" @click="addMessage"></i>
                  
                  </footer>

                  <!-- Selettore della dimensione del font  -->

                  <div id="font-size" :class="displayMode === 'mobile' ?'show':'hide'">

                    <button onclick="increaseFontSize()"><i class="fa fa-plus"></i></button>
                    <button onclick="decreaseFontSize()"><i class="fa fa-minus"></i></button>
  
                  </div>
            
            </div>

          </div>
        
        </div>

      </main>

    <!-- Javascript -->

    <script type="text/Javascript" src="js/index.js"></script>

  </body>

</html>